@media only screen and (max-width: 900px) {
	.project_name {
		display: none !important;
	}

	.nav {
		text-align: center !important;
		width: 100% !important;
	}
}


@media only screen and (max-width: 750px) {
	.container {
		align-items: center !important;
		justify-content: center !important;
		flex-direction: column !important;
	}

	.text_box, .text_box_wide, .download_display, .text_box_half {
		padding: 20px !important;
	}

	.text_box_half {
		width: auto !important;
	}
}

@media (prefers-color-scheme: light) {
	#index_img_one:hover {
		content: url("/img/gnome-desktop-1-dark.webp");
		transition-duration: 1s;
	}

	#index_img_two:hover {
		content: url("/img/gnome-desktop-2-dark.webp");
	}

	#index_img_three:hover {
		content: url("/img/gnome-desktop-3-dark.webp");
	}

	.download_img_gnome:hover {
		content: url("/img/arkane-gnome-download-dark.webp");
	}

}

@media (prefers-color-scheme: dark) {
	* {
		color: #fff;
	}

	body, html {
		background-color: #26252b;
	}

	header {
		background-color: #212026;
	}

	.highlight_section {
		background-color: #212026;
		border-color: #212026;
	}

	.display_download {
		background-color: #212026;
		border-color: #302f35;
	}

	.development {
		background: repeating-linear-gradient(45deg, #2d2c33, #2d2c33 35px, #212026 35px, #212026 70px);
	}

	.development_fade {
		background-image: linear-gradient(to top, rgba(33, 32, 38, 100), rgba(239, 242, 244, 0));
	}

	.download, .db_wrapper {
		background-color: #302f35;
		border-color: #302f35;
		color: #fff !important;
	}

	.notify_banner {
		background-color: #bd4b27;
	}

	#index_img_one {
		content: url("/img/gnome-desktop-1-dark.webp");
	}

	#index_img_two {
		content: url("/img/gnome-desktop-2-dark.webp");
	}

	#index_img_three {
		content: url("/img/gnome-desktop-3-dark.webp");
	}

	.download_img_gnome {
		content: url("/img/arkane-gnome-download-dark.webp");
	}

	#index_img_one:hover {
		content: url("/img/gnome-desktop-1-light.webp");
		transition-duration: 1s;
	}

	#index_img_two:hover {
		content: url("/img/gnome-desktop-2-light.webp");
	}

	#index_img_three:hover {
		content: url("/img/gnome-desktop-3-light.webp");
	}

	.download_img_gnome:hover {
		content: url("/img/arkane-gnome-download-light.webp");
	}

	code {
		background-color: #4c4c4c;
	}
}
